@charset "UTF-8";

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #7c5119;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*body*/
@media screen and (max-width: 479px) {
  .hidden {
    display: none;
  }
}
.body {
  position: relative;
  padding-top: 95px;
  width: 100%;
  background-color: #f4f4f4;
}

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 95px;
}
.header-content {
  position: relative;
}
.header-logo {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 3%;
  font-family: "Crimson Text", serif;
  z-index: 10;
}

.header-logo a {
  color: #000;
  font-size: 3.6rem;
}
@media screen and (max-width: 479px) {
  .header-logo a {
    font-size: 3rem;
  }
}
.header-menu {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 0;
  transition: 1.5s;
}

.nav {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  opacity: 0;
  transition: all 1.5s;
}
.nav ul {
  padding-top: 90px;
}
.nav-list {
  position: relative;
  margin-bottom: calc(calc(100vh - 90px - 2.3rem * 1.5 * 7 - 164px) / 7);
  line-height: 1.5;
  font-size: 2.3rem;
  text-align: center;
}

.nav-list a {
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Crimson Text", serif;
}

.nav-list a::after {
  position: absolute;
  top: 50%;
  left: -30%;
  content: "";
  width: 160%;
  height: 2px;
  background-color: #ccc;
  transform-origin: center;
  transform: scale(0, 1);
  transition: all 0.3s;
}
.nav-list a:hover::after {
  transform: scale(1, 1);
}
.current::before {
  position: absolute;
  top: 50%;
  left: -30%;
  content: "";
  width: 160%;
  height: 2px;
  background-color: #ccc;
}

.menu-salonInfo {
  text-align: center;
  color: #fff;
  padding: 20px 0 40px;
  letter-spacing: 1.5px;
  font-family: "Crimson Text", serif;
}
.menu-salonInfo-title {
  font-size: 1.6rem;
  padding: 15px;
}
.menu-salonInfo-text {
  color: #ccc;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  line-height: 2;
  font-weight: lighter;
}

.header-humburgerMenu {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 3%;
}
.fa-bars {
  color: #000;
  font-size: 45px;
  transition: 1.5s;
}
@media screen and (max-width: 479px) {
  .fa-bars {
    font-size: 3.5rem;
  }
}

/*click*/
.nav-fadin {
  top: 0;
  opacity: 1;
}
.header-menu-click {
  height: 100vh;
  transition: 0s;
}
.humburgerMenu-slidex {
  color: #fff;
}
/*main*/

/*mainvisual*/

.mainvisual {
  position: relative;
  margin-top: -95px;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.mainvisual-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/hair-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainvisual-content {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
.mainvisual-title {
  text-align: center;
  font-size: 7.2rem;
  letter-spacing: 10.8px;
  color: #000;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .mainvisual-title {
    font-size: 4.5rem;
    letter-spacing: 3px;
  }
}
.mainvisual-subtitle {
  padding-top: 1.5rem;
  font-size: 2.6rem;
  text-align: center;
  color: #1b1b1b;
  letter-spacing: 3px;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .mainvisual-subtitle {
    font-size: 2rem;
  }
}

.mainvisual-news {
  position: absolute;
  bottom: 6.3%;
  left: 3%;
  display: inline-block;
  height: 36px;
  font-size: 0px;
}
@media screen and (max-width: 479px) {
  .mainvisual-news {
    display: none;
  }
}

.mainvisual-news a {
  color: #000;
  transition: all 0.1s;
}
.mainvisual-news a:hover {
  opacity: 0.8;
  color: #1a1a1a;
}
.mainvisual-news-head {
  display: inline-block;
  border-right: #fff 1px solid;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-size: 1.6rem;
  vertical-align: top;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-family: "Crimson Text", serif;
}

.mainvisual-news-content {
  display: inline-block;
  padding: 2.5px 10px;
  height: 36px;
}
.mainvisual-news-time {
  font-size: 1.2rem;
  font-family: "Crimson Text", serif;
}
.mainvisual-news-title {
  padding-top: 5px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: lighter;
}
.right-menu {
  position: absolute;
  bottom: 6%;
  right: 3%;
  font-family: "Crimson Text", serif;
}

.right-menu a {
  color: #000;
  padding: 0 10px;
  height: 36px;
  line-height: 38px;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  transition: all 0.1s;
}
@media screen and (max-width: 479px) {
  .right-menu a {
    color: #bfbfbf;
  }
}
.right-menu a:hover {
  opacity: 0.8;
  color: #1a1a1a;
}
.right-menu i {
  display: inline-block;
  padding-right: 4px;
}
.mainvisual-reserve {
  border-right: #fff 2px solid;
}

/*ABOUT*/
.about {
  position: relative;
  width: 100%;
  padding: 140px 144px;
}
@media screen and (max-width: 479px) {
  .about {
    padding: 10px;
    height: 100vh;
  }
}

.about-bg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #e1e1e1;
  z-index: 1;
}
@media screen and (max-width: 479px) {
  .about-bg {
    display: none;
  }
}

.section-box {
  position: absolute;
  width: 532px;
  top: 183px;
  right: 144px;
  background-color: #fff;
  padding: 63px 42px 70px 60px;
  z-index: 5;
}
@media screen and (max-width: 479px) {
  .section-box {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    padding: 50px 10px;
  }
}

.section-title {
  font-size: 3.8rem;
  letter-spacing: 7px;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .section-title {
    font-size: 3rem;
    letter-spacing: 4px;
  }
}
.section-subtitle {
  letter-spacing: 0.1rem;
  padding: 20px 0 60px 0;
}
@media screen and (max-width: 479px) {
  .section-subtitle {
    padding: 10px 0 50px 0;
  }
}
.section-text {
  width: 426px;
  letter-spacing: 0.2rem;
  line-height: 2;
}
@media screen and (max-width: 479px) {
  .section-text {
    width: 95%;
    letter-spacing: 0.1rem;
    line-height: 2;
  }
}
.btn-m-all {
  position: relative;
  margin-top: 58px;
  font-size: 0;
  width: 260px;
  height: 62px;
  background-color: #000;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .btn-m-all {
    margin: 40px auto 0;
    width: 95%;
    height: 50px;
  }
}
.btn-m-all a {
  display: block;
  width: 100%;
  height: 100%;
}
.btn-m-all a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 62px;
  background-color: #f4f4f4;
  opacity: 0;
  transition: all 0.7s;
}
@media screen and (max-width: 479px) {
  .btn-m-all a::before {
    height: 50px;
  }
}
.btn-m-all a:hover::before {
  opacity: 0.3;
  width: 260px;
}
@media screen and (max-width: 479px) {
  .btn-m-all a:hover::before {
    width: 95%;
  }
}
.btn-m-title {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 62px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .btn-m-title {
    font-size: 1.2rem;
    line-height: 50px;
  }
}
.btn-m {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.7rem;
  line-height: 62px;
  padding: 0 20px;
}
@media screen and (max-width: 479px) {
  .btn-m {
    font-size: 1.4rem;
    line-height: 50px;
  }
}
.about-img {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 479px) {
  .about-img {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    z-index: 10;
  }
}
/*style*/
.style {
  position: relative;
  width: 100%;
  padding: 140px 0px 200px;
}
@media screen and (max-width: 479px) {
  .style {
    padding: 30px 10px 30px;
  }
}
.heading {
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .heading {
    font-size: 3rem;
    letter-spacing: 0.5px;
  }
}
.subtitle {
  text-align: center;
  padding: 30px 0 65px;
}
@media screen and (max-width: 479px) {
  .subtitle {
    padding: 10px 0 30px;
  }
}
.style-list {
  display: block;
  width: 1150px;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .style-list {
    width: 100%;
    margin: 0 auto;
  }
}
.style-item {
  display: inline-block;
  margin: 0 13px;
}
@media screen and (max-width: 479px) {
  .style-item {
    width: 100%;
    margin: 0 0 30px;
    text-align: center;
  }
}
.style-item:first-child {
  -webkit-transform: translate(0, -70px);
  -ms-transform: translate(0, -70px);
  transform: translate(0, -70px);
}
@media screen and (max-width: 479px) {
  .style-item:first-child {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
.style-item:last-child {
  -webkit-transform: translate(0, 70px);
  -ms-transform: translate(0, 70px);
  transform: translate(0, 70px);
}
@media screen and (max-width: 479px) {
  .style-item:last-child {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

@media screen and (max-width: 479px) {
  .style-item img {
    width: 90%;
  }
}

.style-box {
  margin-top: -50px;
  position: relative;
  background-color: #fff;
  width: 313px;
  height: 100px;
  padding: 28px 20px;
}
@media screen and (max-width: 479px) {
  .style-box {
    margin: 0 auto;
    width: 90%;
    padding: 26px 0 20px;
  }
}
.style-category {
  position: absolute;
  top: -13px;
  left: 20px;
  width: 88px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: "Crimson Text", serif;
}
.stylist {
  display: block;
  padding-bottom: 14px;
  color: rgba(27, 27, 27, 0.6);
  letter-spacing: 1px;
}
.style-name {
  display: block;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.btn-s-all {
  position: absolute;
  top: 140px;
  right: 145px;
  font-size: 0;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .btn-s-all {
    position: unset;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background-color: #000;
  }
}
.btn-s-all a {
  display: block;
  transition: all 1s;
}
@media screen and (max-width: 479px) {
  .btn-s-all a {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.btn-s-all a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 112.5px;
  height: 60px;
  background-color: #f4f4f4;
  opacity: 0;
  transition: all 0.6s;
}
@media screen and (max-width: 479px) {
  .btn-s-all a::before {
    content: "";
    width: 0px;
    height: 50px;
  }
}
.btn-s-all a:hover::before {
  width: 172.5px;
  opacity: 0.3;
}
@media screen and (max-width: 479px) {
  .btn-s-all a:hover::before {
    width: 95%;
  }
}
.btn-s-title {
  display: inline-block;
  padding: 0 16px;
  height: 60px;
  line-height: 58.3px;
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 479px) {
  .btn-s-title {
    display: block;
    height: 50px;
    padding: 0;
    font-size: 1.2rem;
    line-height: 50px;
    color: #fff;
    text-align: center;
  }
}
.btn-s {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 56.3px;
  border: solid 1px #000;
  background-color: #000;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .btn-s {
    width: unset;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    font-size: 1.4rem;
    line-height: 50px;
    background-color: unset;
    border: unset;
    text-align: unset;
  }
}

/*staff*/
.staff {
  position: relative;
  background-color: #e1e1e1;
  width: 100%;
  padding: 140px 144px;
}
@media screen and (max-width: 479px) {
  .staff {
    padding: 30px 10px;
    height: 100vh;
  }
}
.staff .section-box {
  position: absolute;
  top: 183px;
  left: 144px;
  background-color: #fff;
  padding: 63px 42px 70px 60px;
  z-index: 5;
}
@media screen and (max-width: 479px) {
  .staff .section-box {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    padding: 50px 10px;
  }
}
.staff-img {
  position: relative;
  z-index: 3;
  display: block;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 479px) {
  .staff-img {
    position: relative;
    width: 100%;
    z-index: 10;
  }
}

/*NEWS*/
.news {
  position: relative;
  width: 100%;
  padding: 140px 0;
}
@media screen and (max-width: 479px) {
  .news {
    padding: 50px 10px;
  }
}
.news-list {
  width: 1150px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .news-list {
    width: 95%;
    margin-top: 30px;
  }
}
.news-item {
  position: relative;
  width: 352px;
  max-height: 200px;
  margin: 0 15.6px 50px;
  background-color: #fff;
}
@media screen and (max-width: 479px) {
  .news-item {
    width: 100%;
    margin-bottom: 40px;
    padding: 30px 15px;
  }
}
.news-item a {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}
.news-item a:hover {
  opacity: 0.6;
}
.news-item-label {
  position: absolute;
  background-color: #1b1b1b;
  color: #fff;
  top: -13px;
  left: 20px;
  width: 88px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
}
.news-item-time {
  display: block;
  color: rgba(27, 27, 27, 0.6);
  padding: 45px 15px 20px;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .news-item-time {
    padding: 0 0 10px;
  }
}
.news-item-title {
  color: #333;
  padding: 0 15px 30px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
@media screen and (max-width: 479px) {
  .news-item-title {
    padding: 0;
  }
}

/*pagetop*/
.pagetop {
  width: 100%;
  height: 100px;
  background-color: black;
}
@media screen and (max-width: 479px) {
  .pagetop {
    height: 60px;
  }
}
.pagetop-text {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  transition: all 1s;
}
@media screen and (max-width: 479px) {
  .pagetop-text {
    line-height: 60px;
  }
}
.fa-angle-double-up {
  vertical-align: middle;
  color: #fff;
  font-size: 2.5rem;
}
@media screen and (max-width: 479px) {
  .fa-angle-double-up {
    font-size: 2rem;
  }
}
/*footer*/
.footer {
  width: 100%;
  background-color: #2a2a2a;
  text-align: center;
  color: #fff;
  padding: 40px;
  letter-spacing: 1.5px;
  font-family: "Crimson Text", serif;
}
.footer-saloninfo-title {
  font-size: 1.6rem;
  padding: 18px;
}
.footer-saloninfo-text {
  color: #d3d3d3;
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  line-height: 3;
  font-weight: lighter;
}
.footer-facebook {
  padding: 30px;
}
.footer-facebook a {
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.footer-facebook a:hover {
  color: #e3e3e3;
  opacity: 0.8;
}

.footer-instagram {
  padding-bottom: 50px;
}
.footer-instagram a {
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.footer-instagram a:hover {
  color: #e3e3e3;
  opacity: 0.8;
}
.footer i {
  display: inline-block;
  padding-right: 10px;
}
.copyright {
  color: #d3d3d3;
  letter-spacing: 1.25px;
  padding-bottom: 20px;
  font-weight: lighter;
}

/*page-about*/
.page-about {
  width: 100%;
}
@media screen and (max-width: 479px) {
  .page-about {
    padding: 0 0 60px;
  }
}
.page-about-head {
  height: 400px;
  margin: 0px 30px;
  background-color: #e1e1e1;
}
@media screen and (max-width: 479px) {
  .page-about-head {
    height: unset;
    margin: 0;
    padding-top: 30px;
  }
}
.page-heading {
  font-size: 5rem;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .page-heading {
    font-size: 3rem;
    letter-spacing: 0.5px;
  }
}
.page-subtitle {
  text-align: center;
  padding: 15px 0 85px;
}
@media screen and (max-width: 479px) {
  .page-subtitle {
    padding: 15px 0 40px;
  }
}
.page-about-head .page-heading {
  padding-top: 190px;
}
@media screen and (max-width: 479px) {
  .page-about-head .page-heading {
    padding: 0;
  }
}
.page-about-inner {
  padding: 0px 140px 170px;
  margin-top: -40px;
}
@media screen and (max-width: 479px) {
  .page-about-inner {
    padding: 0;
    margin: 0 auto;
    width: 95%;
    text-align: center;
  }
}
.page-about-content {
  position: relative;
  margin: 100px 0 118px;
}
@media screen and (max-width: 479px) {
  .page-about-content {
    width: 100%;
    margin: 40px 0 60px;
  }
}
.page-about-inner .heading {
  text-align: left;
}
.page-about-inner .subtitle {
  text-align: left;
}
.page-about-text {
  display: inline-block;
  padding-top: 19px;
  width: 765px;
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 6px;
  line-height: 2;
}
@media screen and (max-width: 479px) {
  .page-about-text {
    position: unset;
    width: 100%;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: left;
  }
}
.page-about-img {
  display: block;
  width: 100%;
}

.page-about-access {
  margin: 0 30px;
  position: relative;
  background-color: #e1e1e1;
  padding: 127px 113px;
}
@media screen and (max-width: 479px) {
  .page-about-access {
    margin: 0;
    padding: 0;
    background-color: unset;
  }
}
.access-map {
  text-align: right;
  z-index: 0;
}
@media screen and (max-width: 479px) {
  .access-map {
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 479px) {
  .googleMap {
    display: block;
    width: 90%;
    height: 200px;
    margin: 0 auto;
  }
}
.page-about-access .section-box {
  position: absolute;
  top: 182px;
  left: 113px;
}
@media screen and (max-width: 479px) {
  .page-about-access .section-box {
    position: unset;
    padding-bottom: 240px;
  }
}
.section-text {
  text-align: left;
}
.section-text th {
  padding-right: 20px;
  font-weight: normal;
}
.section-text td {
  padding-bottom: 20px;
}
.section-text a {
  position: relative;
  text-decoration: underline;
  color: inherit;
  padding-left: 20px;
}
.section-text a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  position: absolute;
  top: -4px;
  left: 0;
}

.page-about-reserve {
  position: relative;
  width: 100%;
  margin: 132px auto;
}
@media screen and (max-width: 479px) {
  .page-about-reserve {
    margin: 0;
    padding: 50px 0;
  }
}
.reserve-bg {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .reserve-bg {
    width: 100%;
    margin: 0 0 60px;
  }
}
.reserve-box {
  margin: -162px 0 0 -261px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 522px;
  height: 325px;
  padding: 64px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .reserve-box {
    position: unset;
    margin: 0 auto;
    width: 95%;
    height: unset;
    padding: 40px 0;
  }
}
.reserve-box-title {
  font-size: 3.8rem;
  letter-spacing: 7px;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .reserve-box-title {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}
.reserve-box-subtitle {
  letter-spacing: 0.1rem;
  padding: 20px 0 60px 0;
}
@media screen and (max-width: 479px) {
  .reserve-box-subtitle {
    padding: 10px 0 20px;
  }
}
.reserve-box .btn-m-all {
  margin: 0 auto;
}

/*page-staff*/
.page-staff {
  width: 100%;
}
.section-bg {
  position: relative;
  background-color: #e1e1e1;
  margin: 0px 42px 30px;
  padding: 100px 116px;
}
@media screen and (max-width: 479px) {
  .section-bg {
    margin: 0 auto;
    padding: 30px 10px;
    width: 95%;
  }
}
.page-staff .page-subtitle {
  padding-bottom: 50px;
}
@media screen and (max-width: 479px) {
  .page-staff .page-subtitle {
    padding-bottom: 30px;
  }
}
.page-staff-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
  list-style-type: none;
}
@media screen and (max-width: 479px) {
  .page-staff-list {
    width: 100%;
  }
}
.page-staff-item {
  margin: 35px 0;
}
@media screen and (max-width: 479px) {
  .page-staff-item {
    margin: 0 0 20px;
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .page-staff-item img {
    width: 100%;
  }
}
.stylist-box {
  margin-top: -50px;
  position: relative;
  background-color: #fff;
  width: 313px;
  height: 100px;
  padding: 28px 20px;
}
@media screen and (max-width: 479px) {
  .stylist-box {
    margin-top: -30px;
    width: 90%;
    height: 65px;
    padding: 15px 20px;
  }
}
.stylist-category {
  position: absolute;
  top: -13px;
  left: 20px;
  width: 88px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: "Crimson Text", serif;
}
@media screen and (max-width: 479px) {
  .stylist-category {
    top: -10px;
    height: 20px;
    line-height: 20px;
  }
}
.stylist-name-en {
  display: block;
  padding-bottom: 14px;
  color: rgba(27, 27, 27, 0.6);
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .stylist-name-en {
    font-size: 1rem;
    padding-bottom: 10px;
  }
}
.stylist-name {
  display: block;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

/*page-reserve*/
.page-reserve {
  width: 100%;
}
.reserve-form {
  background-color: #fff;
  padding: 80px 137px 60px;
}
@media screen and (max-width: 479px) {
  .reserve-form {
    padding: 60px 20px;
  }
}
.reserve-form-text {
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  padding-bottom: 80px;
}
@media screen and (max-width: 479px) {
  .reserve-form-text {
    text-align: left;
  }
}
.reserve-form-table {
  width: 100%;
  text-align: left;
}

.form-group {
  border-top: #cccccc 1px solid;
  width: 100%;
}

.form-group:last-child {
  border-bottom: #ccc 1px solid;
}

.reserve-form table th {
  width: 30%;
  padding: 36px 0;
}
@media screen and (max-width: 479px) {
  .reserve-form table th {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    display: block;
  }
}
.form-label {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.form-require-badge {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-right: 50px;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  padding: 5px 15px;
}
@media screen and (max-width: 479px) {
  .form-require-badge {
    margin-right: 0;
  }
}
.reserve-form table td {
  width: 70%;
  padding: 36px 0;
}
@media screen and (max-width: 479px) {
  .reserve-form table td {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0px 0 20px;
  }
}
.form-control {
  width: 100%;
  height: 70px;
}
@media screen and (max-width: 479px) {
  .form-control {
    display: inline-block;
    height: 40px;
  }
}
input {
  padding: 10px;
  word-wrap: normal;
}
label {
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 10px;
  word-wrap: normal;
}
@media screen and (max-width: 479px) {
  .label {
    margin-right: 5px;
  }
}

.form-control-reservetime {
  max-width: 120px;
  height: 70px;
  margin-right: 10px;
}
@media screen and (max-width: 479px) {
  .form-control-reservetime {
    width: calc((100% - calc(35px * 3)) / 3);
    height: 40px;
    margin-right: 5px;
  }
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

.reserve-menu {
  display: inline-block;
}
.reserve-stylist {
  display: inline-block;
}

.question-th {
  position: relative;
}
@media screen and (max-width: 479px) {
  .question-th {
    height: 40px;
  }
}
.question-label {
  position: absolute;
  top: 36px;
  left: 0;
}
@media screen and (max-width: 479px) {
  .question-label {
    top: 10px;
  }
}
textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}
.page-reserve-btn-area {
  position: relative;
  width: 100%;
}
.page-reserve-btn {
  display: block;
  background-color: #000;
  color: #fff;
  margin: 60px auto 0;
  width: 260px;
  height: 62px;
  font-family: "Crimson Text", serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-align: center;
  border: none;
  transition: all 0.3s;
}
@media screen and (max-width: 479px) {
  .page-reserve-btn {
    width: 90%;
    height: 50px;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}

.page-reserve-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
